<div class="container">

  <div class="section-title">
    <h2>Gallery</h2>
  </div>

  <div class="row">
    <div class="col-lg-12">
    </div>
  </div>

  <div class="row gallery-container">

    <div class="col-lg-4 col-md-6 gallery-item">
      <div class="gallery-wrap">
        <img src="=" class="img-fluid" alt="">
        <div class="gallery-info">
          <h3><a href="" title=""></a></h3>
          <div>
            <a href="" title="Details"><i class="bi bi-link"></i></a>
          </div>
        </div>
      </div>
    </div>


  </div>