<div class="container">

    <div class="section-title">
        <h2>202X Sponsors</h2>
        <p>Thank you message</p>
    </div>

    <div class="sponsorship">
        <div class="row gy-4">
          <!-- All sponsors go below here -->
    
          <!-- Start of a sponsor block -->
          <div class="col-lg-3 col-md-4">
            <a href="/404">
            <div class="sponsor">
              <img src="/assets/img/sponsorship/download.jpg" alt="">
              <h4>Sponsor 1</h4>
              <span>Tier 1 Sponsor</span>
            </div>
            </a>  
          </div>
          <!-- End of a sponsor block -->
           <!-- Start of a sponsor block -->
           <div class="col-lg-3 col-md-4">
            <a href="/404">
            <div class="sponsor">
              <img src="/assets/img/sponsorship/download.jpg" alt="">
              <h4>Sponsor 1</h4>
              <span>Tier 1 Sponsor</span>
            </div>
            </a>  
          </div>
          <!-- End of a sponsor block -->
           <!-- Start of a sponsor block -->
           <div class="col-lg-3 col-md-4">
            <a href="/404">
            <div class="sponsor">
              <img src="/assets/img/sponsorship/download.jpg" alt="">
              <h4>Sponsor 1</h4>
              <span>Tier 1 Sponsor</span>
            </div>
            </a>  
          </div>
          <!-- End of a sponsor block -->
           <!-- Start of a sponsor block -->
           <div class="col-lg-3 col-md-4">
            <a href="/404">
            <div class="sponsor">
              <img src="/assets/img/sponsorship/download.jpg" alt="">
              <h4>Sponsor 1</h4>
              <span>Tier 1 Sponsor</span>
            </div>
            </a>  
          </div>
          <!-- End of a sponsor block -->
    
    
          <!-- All sponsors go above here -->

</div>