<div class="container">

    <div class="section-title">
        <h2>Our Team</h2>
        <p>Breif Roundup of team</p>
    </div>

    <div class="row gy-4">
        <div class="col-lg-3 col-md-4">
            <div class="member">
                <img src="/assets/img/team/juan.jpg" alt="">
                <h4>Juan Hiedra Primera</h4>
                <span>Chief Executive Officer<br>3rd Year - Electrical Engineering</span>
            </div>
        </div>

        <div class="col-lg-3 col-md-4">
            <div class="member">
                <img src="/assets/img/team/valerie.jpg" alt="">
                <h4>Valerie Grant</h4>
                <span>Chief Financial Officer<br>3rd Year - Electrical Engineering</span>
            </div>
        </div>

        <div class="col-lg-3 col-md-4">
            <div class="member">
                <img src="/assets/img/team/james.jpg" alt="">
                <h4>James LAST NAME</h4>
                <span>Chief Operating Officer<br>3rd Year - Electrical Engineering</span>
            </div>
        </div>

        <div class="col-lg-3 col-md-4">
            <div class="member">
                <img src="/assets/img/team/stefan.jpg" alt="">
                <h4>Stefan Todorovic</h4>
                <span>Chief Technology Officer<br>3rd Year - Computer Engineering</span>
            </div>
        </div>

        <div class="col-lg-3 col-md-4">
            <div class="member">
                <img src="/assets/img/team/ethan.jpg" alt="">
                <h4>Ethan Bowering</h4>
                <span>Safety Officer<br>3rd Year - Electrical Engineering</span>
            </div>
        </div>

        <div class="col-lg-3 col-md-4">
            <div class="member">
                <img src="/assets/img/team/jason.jpg" alt="">
                <h4>Jason Gonzalez Pulido</h4>
                <span>Mechanical<br>3rd Year - Mechanical Engineering</span>
            </div>
        </div>

        <div class="col-lg-3 col-md-4">
            <div class="member">
                <img src="/assets/img/team/mihir.jpg" alt="">
                <h4>Mihir Kishore Jakhi</h4>
                <span>Mechanical and Electrical<br>3rd Year - Electrical Engineering</span>
            </div>
        </div>

        <div class="col-lg-3 col-md-4">
            <div class="member">
                <img src="/assets/img/team/mohamad.jpg" alt="">
                <h4>Mohamad Ali Jarkas</h4>
                <span>Electrical Systems Design<br>3rd Year - Electrical Engineering</span>
            </div>
        </div>

        <div class="col-lg-3 col-md-4">
            <div class="member">
                <img src="/assets/img/team/rikki.jpg" alt="">
                <h4>Rikki Romana</h4>
                <span>position<br>3rd Year - Electrical Engineering</span>
            </div>
        </div>

        <div class="col-lg-3 col-md-4">
            <div class="member">
                <img src="/assets/img/team/sebastian.jpg" alt="">
                <h4>Sebastian Larrivée</h4>
                <span>Embedded Development<br>3rd Year - Computer Engineering</span>
            </div>
        </div>

    </div>

</div>