<div class="container">


  <div class="sponsorship">
    <div class="row gy-4">
      <!-- All sponsors go below here -->

      <!-- Start of a sponsor block -->
      <div class="col-lg-3 col-md-4">
        <div class="sponsor">
          <a href="/"><img src="/assets/img/sponsorship/download.jpg" alt=""></a>
          <h4>DINOCO</h4>
          <span>Tier 1 Sponsor</span>
        </div>
      </div>
      <!-- End of a sponsor block -->
      <!-- Start of a sponsor block -->
      <div class="col-lg-3 col-md-4">
        <div class="sponsor">
          <a href="/"><img src="/assets/img/sponsorship/download.png" alt=""></a>
          <h4>DINOCO</h4>
          <span>Tier 1 Sponsor</span>
        </div>
      </div>
      <!-- End of a sponsor block -->
            <!-- Start of a sponsor block -->
            <div class="col-lg-3 col-md-4">
              <div class="sponsor">
                <a href="/"><img src="/assets/img/sponsorship/download.jpg" alt=""></a>
                <h4>DINOCO</h4>
                <span>Tier 1 Sponsor</span>
              </div>
            </div>
            <!-- End of a sponsor block -->
            <!-- Start of a sponsor block -->
            <div class="col-lg-3 col-md-4">
              <div class="sponsor">
                <a href="/"><img src="/assets/img/sponsorship/download.png" alt=""></a>
                <h4>DINOCO</h4>
                <span>Tier 1 Sponsor</span>
              </div>
            </div>
            <!-- End of a sponsor block -->
      
      <!-- All sponsors go above here -->
    </div>
  </div>
  <div class="copyright">
    &copy; Copyright kelpie robotics. All Rights Reserved.<br><a href="https://www.distrotek.ca"> Web Presence Powered
      by distrotek.</a>

  </div>