<!-- SHAPE -->
<div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x text-dark">
      <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor" />
    </div>
</div>

  <footer class="py-8 py-md-11 bg-black">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-3 text-center">

          <!-- Brand -->
          <img src="../assets/img/brand/dtk-white.png" alt="distrotek logo" class="footer-brand img-fluid mb-2 pe-2"
            style="width: 10rem;">

          <!-- Social -->
          <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
            <li class="list-inline-item list-social-item me-2">
              <a href="mailto:contact@distrotek.ca" class="text-decoration-none">
                <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <g fill="none" fill-rule="evenodd">
                    <title>Email</title>
                    <path d="M0 0h24v24H0z"></path>
                    <path
                      d="M5 6h14a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2zm13.144 1.84L12 11.148 5.856 7.84a.75.75 0 10-.712 1.32l6.5 3.5c.222.12.49.12.712 0l6.5-3.5a.75.75 0 00-.712-1.32z"
                      fill="#869AB8"></path>
                  </g>
                </svg>
              </a>
            </li>
            <li class="list-inline-item list-social-item me-2">
              <a href="https://www.linkedin.com/company/distrotek/" target="_blank" class="text-decoration-none">
                <img src="../assets/img/icons/social/linkedin.svg" class="list-social-icon" alt="LinkedIn logo" title="LinkedIn">
              </a>
            </li>
            <li class="list-inline-item list-social-item me-2">
              <a href="https://twitter.com/distrotek" target="_blank" class="text-decoration-none">
                <img src="../assets/img/icons/social/twitter.svg" class="list-social-icon" alt="Twitter logo" title="Twitter">
              </a>
            </li>
            <li class="list-inline-item list-social-item me-3">
              <a href="https://www.instagram.com/distrotek/" target="_blank" class="text-decoration-none">
                <img src="../assets/img/icons/social/instagram.svg" class="list-social-icon" alt="Instagram logo" title="Instagram">
              </a>
            </li>
          </ul>

        </div>
        <div class="col-5 col-md-3 text-center">

          <!-- Heading -->
          <h1 class="fs-5 fw-bold text-uppercase dtk--blue">
            About
          </h1>

          <!-- List -->
          <ul class="list-unstyled dtk--grey mb-6 mb-md-8 mb-lg-0">
            <li class="mb-3">
              <a href="/about/" class="dtk--light-grey">
                About Us
              </a>
            </li>
            <li class="mb-3">
              <a href="/team/" class="dtk--light-grey">
                Meet the Team
              </a>
            </li>
          </ul>

        </div>
        <div class="col-7 col-md-3 text-center">

          <!-- Heading -->
          <h1 class="fs-5 fw-bold text-uppercase dtk--blue">
            Services
          </h1>

          <!-- List -->
          <ul class="list-unstyled dtk--grey mb-6 mb-md-8 mb-lg-0">
            <li class="mb-3">
              <a href="/services/#ecommerce" class="dtk--light-grey">
                Ecommerce
              </a>
            </li>
            <li class="mb-3">
              <a href="/services/#web" class="dtk--light-grey">
                Web Development
              </a>
            </li>
            <li class="mb-3">
              <a href="/services/#mobile" class="dtk--light-grey">
                Mobile Development
              </a>
            </li>
            <li>
              <a href="/services/#ui-ux" class="dtk--light-grey">
                UI & UX Design
              </a>
            </li>
          </ul>

        </div>
        <div class="col-12 col-md-3 text-center">

          <!-- Heading -->
          <h1 class="fs-5 fw-bold text-uppercase dtk--blue">
            Subsidiaries
          </h1>

          <!-- List -->
          <ul class="list-unstyled dtk--grey mb-0">
            <li class="mb-3">
              <a href="https://www.shamelessstudios.com" target="_blank" class="dtk--light-grey text-lowercase">
                Shameless Studios
              </a>
            </li>
            <li class="mb-3">
              <a href="https://www.equilaterral.com" target="_blank" class="dtk--light-grey text-lowercase">
                Equilaterral
              </a>
            </li>
          </ul>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </footer>