<div class="container">


  <div class="sponsorship">
    <div class="row gy-4">
      <div class="col-lg-3 col-md-4">
        <a href="https://www.lockheedmartin.com/">
          <div class="sponsor">
            <img src="/assets/img/sponsorship/lockheedmartin-logo.svg" alt="">
            <h4>Lockheed Martin</h4>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4">
        <a href="https://rbr-global.com/">
          <div class="sponsor">
            <img src="/assets/img/sponsorship/RBR-logo.png" alt="">
            <h4>RBR</h4>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="reflinks">
    <div class="row gy-4">
      <div class="col-lg-3 col-md-4">
        <div class="ref">
          <h4>kelpie</h4>
          <a href="/">Home</a><br>
          <a href="/#about">About Us</a><br>
          <a href="/#subteams">Subteams</a><br>
          <a href="/#team">Our Team</a><br>
          <a href="/#gallery">Gallery</a><br>
          <a href="/#contact">Contact Us</a><br>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="ref">
          <h4>social media</h4>
          <a href="https://www.linkedin.com/in/kelpie-robotics-702261226/">LinkedIn</a><br>
          <a href="https://www.facebook.com/profile.php?id=100075181450829">Facebook</a><br>
          <a href="https://twitter.com/kelpie_robotics">Twitter</a><br>
          <a href="https://www.instagram.com/kelpie_robotics/">Instagram</a><br>
          <a href="https://www.twitch.tv/kelpie_robotics">Twitch</a><br>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="ref">
          <h4>sponsors</h4>
          <a href="https://www.lockheedmartin.com/">Lockheed Martin</a><br>
          <a href="https://rbr-global.com/">RBR</a><br>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="ref">
          <h4>archive</h4>
          <!-- <a href="/archive/2022-team">2022</a><br> -->
          <a href="/gallery/live-camera">Live Camera</a><br>
        </div>
      </div>
    </div>
  </div>


  <div class="copyright">
    &copy; Copyright kelpie robotics. All Rights Reserved.<br><a href="https://www.distrotek.ca"> Web Presence Powered
      by distrotek.</a>
  </div>