<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-black">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand" href="/">
            <img src="../assets/img/brand/dtk-white.png" style="width: 13rem;" alt="distrotek logo">
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fe fe-x"></i>
            </button>

            <!-- Navigation -->
            <ul class="navbar-nav ms-auto bg-black">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/">
                        Home
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" id="navbarAbout" data-bs-toggle="dropdown" href="#"
                        aria-haspopup="true" aria-expanded="false">
                        About <i class="fa-solid fa-caret-down ps-1"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-md bg-black" aria-labelledby="navbarAbout">
                        <div class="list-group list-group-flush">
                            <a class="list-group-item bg-black" href="/about/">
                                <div class="row">
                                    <!-- Heading -->
                                    <p class="fw-bold dtk--blue mb-0 fs-5">
                                        About Us
                                    </p>

                                    <!-- Text -->
                                    <p class="fs-sm dtk--light-grey mb-0">
                                        Learn more about distrotek.
                                    </p>
                                </div>
                            </a>
                            <a class="list-group-item bg-black" href="/team/">
                                <div class="row">
                                    <!-- Heading -->
                                    <p class="fw-bold dtk--blue mb-0 fs-5">
                                        Meet the Team
                                    </p>

                                    <!-- Text -->
                                    <p class="fs-sm dtk--light-grey mb-0">
                                        Meet the faces behind distrotek.
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/services/">
                        Services
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-white" href="/contact/">
                        Contact
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" id="navbarSubsidiaries" data-bs-toggle="dropdown"
                        href="#" aria-haspopup="true" aria-expanded="false">
                        Subsidiaries <i class="fa-solid fa-caret-down ps-1"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-md bg-black" aria-labelledby="navbarSubsidiaries">
                        <div class="list-group list-group-flush">
                            <a class="list-group-item bg-black" href="https://www.shamelessstudios.com" target="_blank">
                                <div class="row">
                                    <!-- Heading -->
                                    <p class="fw-bold text-lowercase dtk--blue mb-0 fs-5">
                                        Shameless Studios
                                    </p>

                                    <!-- Text -->
                                    <p class="fs-sm dtk--light-grey mb-0">
                                        Coming Soon: A live demo of a Shopify store powered by distrotek.
                                    </p>
                                </div>
                            </a>
                            <a class="list-group-item bg-black" href="https://www.equilaterral.com" target="_blank">
                                <div class="row">
                                    <!-- Heading -->
                                    <p class="fw-bold text-lowercase dtk--blue mb-0 fs-5">
                                        Equilaterral
                                    </p>
                                    <!-- Text -->
                                    <p class="fs-sm dtk--light-grey mb-0">
                                        Coming Soon: Protocol Development and IoT R&D. Proudly built on Terra.
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</nav>